body {
    background-color:darkslategray;
}

.container {
    text-align: center;
}
.container h1 {

    font-size: 15rem;
    color: rgb(136, 211, 136);
    margin-bottom: 20px;
}

.container button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 5rem;
    margin-top: -20px;
    margin-left: 20px;
    outline: none;
}