a{
    text-decoration: none;
    color:white;
}
.active_class {
    border-bottom: 1px solid red;
    
    color:rgb(37, 184, 11);
}

.menu_style {
    width: 100%;
    line-height: 60px;
    background-color: #20232a;
    display: flex;
    justify-content: space-around;

}